* {
    margin: 0;
    padding: 0;
}

.title h1{
    color: #333333;
}

.content {
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

.form-label {
    text-align: right;
    width: 100%;
    font-weight: 500;
}

form .row{
    margin-bottom: 15px;
}


/* Estilos para la lista de empleados */

.table {
    color: #333333;
}